<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Meter Usage</title>
  <link rel="stylesheet" href="/static/style/style.css">
  <script src="/static/js/jquery.min.js"></script>
  
</head>


<body>
	<header>
		<img class="logo" src="/static/imgs/logo.png" alt="Smart Energy Solutions">
		<span class="title">Meter Usage</span>
	</header>
  
 	<content>
	  	<div class="container">
	  		<span class="fetch-data-cta">
	  			<a class="fetch-data-btn" href="#">
		  			<span class="box">Fetch Data &nbsp;
		  				<img id="ico-downloading" class="" src="/static/imgs/download.png">
		  				<img id="ico-loading" class="hidden" src="/static/imgs/blue_loading.gif">
		  			</span>
	  			</a>
	  		</span>
	  		<div class="info-container">
	  		</div>
			<table id="meter-usage-data-table" border="0">
				<thead>
				  	<tr>
				  		<th>Timestamp</th>
				  		<th>Usage (In units)</th>
				  	</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="2">
							
						</td>
					</tr>
				</tbody>
			  	
		  </table>
		</div>
		<div class="info-objects hidden">
			<div class="info-object-container">
				<span id="info-info" class="info box">
					<img src="/static/imgs/info.webp"/> 
					&nbsp; Click on "Fetch Data" button above to populate this list below.
				</span>
			</div>
			<div class="error-object-container">
				<span id="info-error" class="info box">
					<img src="/static/imgs/error.webp"/> 
					<span class="error-code"></span>
				</span>
			</div>
		</div>
	</content>
	<span title="scroll top" class="move-top"><img width="64" src="/static/imgs/move-top.png"></span>
	<script type="text/javascript" src="/static/js/script.js"></script>
</body>

</html>